@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer {
  body {
    @apply text-sand12 dark:text-sand1 bg-gray-50 dark:bg-gray-950;
  }

  main {
    @apply mx-auto w-full max-w-3xl px-4;
  }
}

.button {
  @apply relative isolate mx-[2px] inline-flex items-center justify-center gap-1 rounded-[14px] bg-gradient-to-t px-4 py-2;
}

.button::before {
  --wh: calc(100% + 4px);
  --offset: -2px;
  @apply from-priamry-300 to-priamry-200 dark:from-priamry-700 dark:to-priamry-600 absolute inset-0 -z-[2] block h-[var(--wh)] w-[var(--wh)] translate-x-[var(--offset)] translate-y-[var(--offset)] rounded-2xl bg-gradient-to-t stroke-gray-950 shadow-md content-[''];
}

.button::after {
  --wh: calc(100%);
  @apply from-priamry-300 to-priamry-200 dark:from-priamry-700 dark:to-priamry-600 absolute inset-0 -z-[1] block h-[var(--wh)] w-[var(--wh)] rounded-[14px] bg-gradient-to-b content-[''];
}

.button:active::before,
.button:active::after {
  @apply from-priamry-400 to-priamry-300 dark:from-priamry-800 dark:to-priamry-700;
}

.button.icon {
  @apply aspect-square p-2;
}

.github-button,
html.dark .github-button {
  @apply before:from-[#1f1f1f] before:to-[#333] after:from-[#1f1f1f] after:to-[#333] active:before:from-[#141414] active:before:to-[#292929] active:after:from-[#141414] active:after:to-[#292929];
}

.twitter-button,
html.dark .twitter-button {
  @apply before:from-[#1c9cea] before:to-[#72c9ff] after:from-[#1c9cea] after:to-[#72c9ff] active:before:from-[#4b85a8] active:before:to-[#9cd9ff] active:after:from-[#579cc7] active:after:to-[#afe0ff];
}

.discord-button,
html.dark .discord-button {
  @apply before:from-[#5d6af2] before:to-[#9aa3ff] after:from-[#5d6af2] after:to-[#9aa3ff] active:before:from-[#5159b8] active:before:to-[#9fa7ff] active:after:from-[#5159b8] active:after:to-[#9fa7ff];
}
