@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #2c4141;
}

html[data-color="maroon"] {
    --primary: #412c31;
}

html[data-color="pink"] {
    --primary: #412c40;
}

html[data-color="blue"] {
    --primary: #2c2f41;
}

html[data-color="yellow"] {
    --primary: #413f2c;
}

body {
    background: var(--primary);
}
