@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: BG;
    src: url(BasisGrotesqueArabicPro-Light.ttf);
    font-weight: 200; /* Light */
    font-style: normal;
}

@font-face {
    font-family: BG;
    src: url(BasisGrotesqueArabicPro-Regular.ttf);
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: BG;
    src: url(BasisGrotesqueArabicPro-Bold.ttf);
    font-weight: 800; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: RR;
    src: url(Roboto-Regular.ttf);
    font-weight: 400; /* Regular */
    font-style: normal;
}
:root {
    --primary: #2c4141;
    --secondary: #8eabab;
    --primary-rgb: 44, 65, 65;
    --secondary-rgb: 142, 171, 171;
}

html[data-color="maroon"] {
    --primary: #412c31;
    --secondary: #ab8e96;
    --primary-rgb: 65, 44, 49;
    --secondary-rgb: 171, 142, 150;
}

html[data-color="pink"] {
    --primary: #412c40;
    --secondary: #a98eab;
    --primary-rgb: 65, 44, 64;
    --secondary-rgb: 169, 142, 171;
}

html[data-color="blue"] {
    --primary: #2c2f41;
    --secondary: #8e94ab;
    --primary-rgb: 44, 47, 65;
    --secondary-rgb: 142, 148, 171;
}

html[data-color="yellow"] {
    --primary: #413f2c;
    --secondary: #aaab8e;
    --primary-rgb: 65, 63, 44;
    --secondary-rgb: 170, 171, 142;
}

body {
    background: var(--primary);
    font-family: BG, sans-serif;
    font-weight: 400;
    color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 800;
}

main {
    min-height: 200vh;
}
